<% require 'rest-client' 

value = RestClient::Request.execute(:url => "https://na.api.pvp.net/api/lol/na/v1.4/summoner/by-name/#{summonername}?api_key=#{$API_KEY}", :method => :get, :verify_ssl => false)

%>

<p>
  Key:  <%= $API_KEY %>
  <br>
  Value: <%= value %>
</p>
