<!DOCTYPE html>
<html lang="en">

<body onLoad="setQuote('Eureka!!')">
  <section id="portfolio">
    <div class="container">
      <div class="row" style="padding-top:50px;">
        <div class="col-lg-12 text-center">
          <h2 style="padding-top:20px;">OOPS! It Looks Like Something Went Wrong!</h2>
          <img src="/img/heimerdinger_blown_up.jpg" alt="Heimer Blown Up" style="width:60%;height:60%;position:static;padding-top:20px;">
        </div>
      </div>
    </div>
  </section>
</body>
</html>
