<!DOCTYPE html>
<html lang="en">

<body onLoad="setQuote('Eureka!')">
  <section id="portfolio">
    <div class="container">
      <div class="row" style="padding-top:10px;padding-bottom:10px;">
        <div class="row">
          <div class="col-md-3"></div>
          <div id="oops-div" class="col-md-6 text-center">
            <h3 id="oops-text">OOPS! It Looks Like Something Went Wrong!</h3>
            <img id="hiemer-oops" src="/img/heimerdinger_blown_up.jpg" alt="Heimer Blown Up" style="height:80%;width:80%;position:static;padding-top:20px;">
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
