<h1>Enter a Summoner Name</h1>

<form action="/summonerform/" method="POST">
  Summoner Name: <input type="text" name="summonername">
  <br/>
  Region: <input type="text" name="region">
  <br/>
  <input type="submit">
</form>
